In [5]:
import pandas as pd
from sqlalchemy import create_engine
from time import time
import gzip
import shutil

In [23]:
zip_name = '../data/green_tripdata_2019-09.csv.gz'
csv_name = '../data/green_taxi_data.csv'
zone_csv_name = '../data/taxi_zones.csv'
taxi_table_name = 'green_taxi_data'

In [10]:
with gzip.open(zip_name, 'rb') as f_in:
    with open(csv_name, 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [11]:
df = pd.read_csv(csv_name, nrows=100)
zones = pd.read_csv(zone_csv_name)

In [20]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

!pip install psycopg2 sqlalchemy  
#requested installation for SqlAlchemy

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
engine.connect()

In [16]:
print(pd.io.sql.get_schema(df, name=taxi_table_name, con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [19]:
%time zones.to_sql(name='zones', con=engine, if_exists='append')

CPU times: user 5.19 ms, sys: 4.46 ms, total: 9.65 ms
Wall time: 40.2 ms

265

In [15]:
df.head(0).to_sql(name=taxi_table_name, con=engine, if_exists='replace')
zones.head(0).to_sql(name='zones', con=engine, if_exists='replace')

0

In [20]:
df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

In [24]:
while True:
    t_start = time()
    try:
        df = next(df_iter)
    except StopIteration:
        print("All data were ingested to DB")
        break
    
    df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
    df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
    
    df.to_sql(name=taxi_table_name, con=engine, if_exists='append')
    
    t_end = time()
    
    print(f"Next chunk uploaded in {round(t_end - t_start, 3)} seconds.")

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "lpep_dropoff_datetime  " of relation "green_taxi_data" does not exist
LINE 1: ...t, payment_type, trip_type, congestion_surcharge, "lpep_drop...
                                                             ^

[SQL: INSERT INTO green_taxi_data (index, "VendorID", lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, "RatecodeID", "PULocationID", "DOLocationID", passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehai ... 526603 characters truncated ... nt_type__999)s, %(trip_type__999)s, %(congestion_surcharge__999)s, %(lpep_dropoff_datetime____999)s)]
[parameters: {'fare_amount__0': 5.0, 'trip_distance__0': 0.0, 'index__0': 200000, 'trip_type__0': 1, 'ehail_fee__0': None, 'tolls_amount__0': 0.0, 'congestion_surcharge__0': 0.0, 'total_amount__0': 5.0, 'improvement_surcharge__0': 0.0, 'extra__0': 0.0, 'RatecodeID__0': 5, 'mta_tax__0': 0.0, 'tip_amount__0': 0.0, 'lpep_pickup_datetime__0': datetime.datetime(2019, 9, 16, 15, 1), 'PULocationID__0': 264, 'lpep_dropoff_datetime__0': '2019-09-16 15:01:00', 'DOLocationID__0': 264, 'lpep_dropoff_datetime____0': datetime.datetime(2019, 9, 16, 15, 1), 'VendorID__0': 2, 'passenger_count__0': 1, 'store_and_fwd_flag__0': 'N', 'payment_type__0': 1, 'fare_amount__1': 2.5, 'trip_distance__1': 0.0, 'index__1': 200001, 'trip_type__1': 1, 'ehail_fee__1': None, 'tolls_amount__1': 0.0, 'congestion_surcharge__1': 0.0, 'total_amount__1': 3.3, 'improvement_surcharge__1': 0.3, 'extra__1': 0.0, 'RatecodeID__1': 1, 'mta_tax__1': 0.5, 'tip_amount__1': 0.0, 'lpep_pickup_datetime__1': datetime.datetime(2019, 9, 16, 15, 7, 36), 'PULocationID__1': 193, 'lpep_dropoff_datetime__1': '2019-09-16 15:08:03', 'DOLocationID__1': 193, 'lpep_dropoff_datetime____1': datetime.datetime(2019, 9, 16, 15, 8, 3), 'VendorID__1': 2, 'passenger_count__1': 1, 'store_and_fwd_flag__1': 'N', 'payment_type__1': 2, 'fare_amount__2': 2.5, 'trip_distance__2': 0.0, 'index__2': 200002, 'trip_type__2': 1, 'ehail_fee__2': None, 'tolls_amount__2': 0.0 ... 21900 parameters truncated ... 'DOLocationID__997': 25, 'lpep_dropoff_datetime____997': datetime.datetime(2019, 9, 16, 16, 15), 'VendorID__997': 2, 'passenger_count__997': 1, 'store_and_fwd_flag__997': 'N', 'payment_type__997': 1, 'fare_amount__998': 16.0, 'trip_distance__998': 3.85, 'index__998': 200998, 'trip_type__998': 1, 'ehail_fee__998': None, 'tolls_amount__998': 0.0, 'congestion_surcharge__998': 0.0, 'total_amount__998': 18.8, 'improvement_surcharge__998': 0.3, 'extra__998': 1.0, 'RatecodeID__998': 1, 'mta_tax__998': 0.5, 'tip_amount__998': 1.0, 'lpep_pickup_datetime__998': datetime.datetime(2019, 9, 16, 16, 51, 6), 'PULocationID__998': 52, 'lpep_dropoff_datetime__998': '2019-09-16 17:08:48', 'DOLocationID__998': 80, 'lpep_dropoff_datetime____998': datetime.datetime(2019, 9, 16, 17, 8, 48), 'VendorID__998': 2, 'passenger_count__998': 1, 'store_and_fwd_flag__998': 'N', 'payment_type__998': 1, 'fare_amount__999': 15.0, 'trip_distance__999': 2.95, 'index__999': 200999, 'trip_type__999': 1, 'ehail_fee__999': None, 'tolls_amount__999': 0.0, 'congestion_surcharge__999': 0.0, 'total_amount__999': 16.8, 'improvement_surcharge__999': 0.3, 'extra__999': 1.0, 'RatecodeID__999': 1, 'mta_tax__999': 0.5, 'tip_amount__999': 0.0, 'lpep_pickup_datetime__999': datetime.datetime(2019, 9, 16, 16, 3, 58), 'PULocationID__999': 82, 'lpep_dropoff_datetime__999': '2019-09-16 16:24:31', 'DOLocationID__999': 7, 'lpep_dropoff_datetime____999': datetime.datetime(2019, 9, 16, 16, 24, 31), 'VendorID__999': 2, 'passenger_count__999': 1, 'store_and_fwd_flag__999': 'N', 'payment_type__999': 2}]
(Background on this error at: https://sqlalche.me/e/20/f405)